/*************
 SECTION STYLES
*************/

.scroll-snap-wrapper {
    position: relative; /* So absolute children are positioned inside */
    scroll-snap-type: y mandatory;
    overflow-y: scroll; /* Enables vertical scrolling */
    height: 100vh;
}

section {
    position: relative;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

/* Disable scrollbars */
.scroll-snap-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-snap-wrapper::-webkit-scrollbar {
    display: none;
}

/**************************
    SECTION 1: Title card
 **************************/

#title-scroll{
    height: 75vh;
    width: 100vw;
}

#title-rat-img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 65vh;
    max-height: 100%;
}

/***************************************
    SECTION 2: Mental illness in Canada
 ***************************************/

/***************************************
    SECTION 3: Salt rat
 ***************************************/
.salt-rat-parent {
    position: relative;
    height: 100vh; /* Needs height for children */
}

#salt-rat {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80vh;
    max-height: 100%;
}

.section-3 {
    position: relative;
    top: 35%; /* This will make it so that the box STARTS at 50% of the container */
    left: 25%;
    transform: translateY(-50%); /* This will align it to the center */
}


/**************************
    SECTION 4: Interconnectedness of brain (Assembly line)
 **************************/

.section-4 {
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.rat-assembly-line-parent{
    position: relative;
    height: 100vh;
}

#rat-assembly-line{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0; /* This will place it at the bottom */
}

/*#rat-assembly-line img{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 75%;*/
/*    max-height: 100%;*/
/*}*/

#rat-assembly-line img {
    position: absolute;
    bottom: 0; /* Sticks the image to the bottom */
    left: 50%;
    transform: translateX(-50%); /* Centers the image horizontally */
    width: 100%; /* Ensures it fits within the parent div */
    max-height: 100%; /* Prevents overflow */
}

/***************************************
    SECTION 5: Disease related by medications (Vis #7)
 ***************************************/
#salt-shaker-img{
    width: 100%;
}


/***************************************
    SECTION 6: Drug actions Heatmap (Vis #1)
 ***************************************/



/***************************************
    SECTION 7: Drugs available per disease (Vis #4)
 ***************************************/



/***************************************
    SECTION 8: Drugs and receptors (Vis #3)
 ***************************************/


/***************************************
    SECTION 9: Be nice
 ***************************************/

.s9-explanation-parent{
    position: relative;
    height: 50vh;
}

.s9-explanation{
    position: absolute;
    top: 50%;
}


.rat-rain-img-parent{
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
}

#rat-rain-img{
    height: 99vh;
}

/***************************************
    SECTION 10: Seek help
 ***************************************/

.s10-explanation-parent{
    position: relative;
    height: 25vh;
}

.s10-explanation{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}

.rat-therapy-img-parent{
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
}

#rat-therapy-img{
    height: 75vh;
}
