/*
    SECTION STYLES
 */

section {
    height: 100vh;
    width: 100vw;
}

/*
    SECTION 1
 */

#title-scroll{
    height: 75vh;
    width: 100vw;
}

#title-rat {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 65vh;
    max-height: 100%;
}