@import url('https://fonts.googleapis.com/css2?family=Cagliostro&family=Varela+Round&display=swap');

/***************************************
        GENERAL SECTION STYLES
***************************************/

/*body {*/
/*    !* Fonts *!*/
/*    font-family: "Varela Round", sans-serif;*/
/*    color: #076cbc;*/
/*    background-color: #fefae8;*/
/*}*/
/* TODO: Why does changing this affect the assembly line picture? */

/* To inherit heights */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* For scroll snapping. Source: Anansi Creative, https://www.youtube.com/watch?v=o_lWNEevHJo&t=354s*/
.scroll-snap-wrapper {
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll; /* Enables vertical scrolling */
    height: 100vh;
}

.scroll-snap-wrapper { /* Disable scrollbars */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-snap-wrapper::-webkit-scrollbar {
    display: none;
}

/* Individual section (slide) styles */
section {
    position: relative;
    scroll-snap-align: start;

    /* curr dimensions */
    height: 100vh;
    width: 100vw;

    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    color: #076cbc;
    background-color: #fff8e0; /* alt: #f2ebdb */
}

/* To pause animations when needed */
.paused {
    animation-play-state: paused;
}

/***************************************
    SECTION 1: Title card
***************************************/

#title-scroll{
    height: 75vh;
    width: 100vw;
}

#title-subtitle-sign{
    position: absolute;
    left: 20%;
    top: 50%;

    height: 27rem;
    max-height: 100%;
    filter: invert(54%) sepia(92%) saturate(177%) hue-rotate(191deg) brightness(82%) contrast(77%);    /*Source to convert color to filter: https://codepen.io/sosuke/pen/Pjoqqp */
}

#title-rat-img {
    position: absolute;
    right: 0;
    bottom: 0;

    height: 75vh;
    max-height: 100%;
}

#title-rat-sparkle-gif{
    position: absolute;
    right: 7%;
    bottom: 30%;

    height: 20%;
    filter: invert(15%) sepia(66%) saturate(630%) hue-rotate(318deg) brightness(105%) contrast(103%);

    /*visibility: hidden;*/
    /*transition: opacity 1s ease-in-out;*/

    opacity: 0;
}

#title-rat-sparkle-gif.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s; /* Immediate visibility after fade-in */
}


/***************************************
    SECTION 2: Mental illness in Canada
 ***************************************/

/***************************************
    SECTION 3: Salt rat (Soup?)
 ***************************************/
.section-3 {
    position: relative;
    height: 100vh; /* prev: 100% */
}

.s3-explanation {
    position: absolute;
    left: 25%;
    top: 10rem;
}

.soup-temperature-container{
    width: 100%;

    position: absolute;
    bottom: 10rem;

    /* Positioning inside contents */
    left: 25%;
}

.soup {
    /* Soup bowl shape */
    height: 6rem;
    width: 10rem;
    border-radius: 7rem 7rem 50rem 50rem;
    border: 0.5rem solid #c3cec2;

    /* Positioning */
    margin-right: 1rem;
}

.steam-gif {
    /* Dimensions */
    height: 6rem;
    width: 10rem;

    margin-right: 1rem;

}

#steam2 {
    transform: scaleX(-1);
}

.soup:hover {
    background-color: rgba(204, 82, 0, 0.27); /* Darker shade */
}


.salt-rat-parent {
    position: relative;
    height: 100vh; /* Needs height for children */
}

#salt-rat {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80vh;
    max-height: 100%;
}

/**************************
    SECTION 4: Interconnectedness of brain (Assembly line)
 **************************/

.section-4 {
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.rat-assembly-line-parent{
    position: relative;
    height: 100vh;
}

#rat-assembly-line{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0; /* This will place it at the bottom */
}

/*#rat-assembly-line img{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 75%;*/
/*    max-height: 100%;*/
/*}*/

#rat-assembly-line img {
    position: absolute;
    bottom: 0; /* Sticks the image to the bottom */
    left: 50%;
    transform: translateX(-50%); /* Centers the image horizontally */
    width: 100%;
    max-height: 100%;
}

/***************************************
    SECTION 5: Disease related by medications (Vis #7)
 ***************************************/
.vis-salt {
    position: absolute;
    height: 80%;
    bottom: 0;
}

#salt-shaker-img{
    width: 100%;
}


/***************************************
    SECTION 6: Drug actions Heatmap (Vis #1)
 ***************************************/



/***************************************
    SECTION 7: Drugs available per disease (Vis #4)
 ***************************************/



/***************************************
    SECTION 8: Drugs and receptors (Vis #3)
 ***************************************/


/***************************************
    SECTION 9: Be nice
 ***************************************/

.s9-explanation-parent{
    position: relative;
    height: 50vh;
}

.s9-explanation{
    position: absolute;
    top: 50%;
}


.rat-rain-img-parent{
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
}

#rat-rain-img{
    height: 99vh;
}

/***************************************
    SECTION 10: Seek help
 ***************************************/

.s10-explanation-parent{
    position: relative;
    height: 25vh;
}

.s10-explanation{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}

.rat-therapy-img-parent{
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
}

#rat-therapy-img{
    height: 75vh;
}
