/***************************************
    General styles for the visualizations
    Want:
    - Visualizations to be centered
    - Explanations to be centered
 ***************************************/

.vis-area-parent{
    position: relative;
    height: 100vh;
}

.vis-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    height: 100%;
}

.vis-explanation-parent {
    position: relative;
    height: 50vh;
}

.vis-explanation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}