@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

html, body {margin: 0; height: 100%; overflow: hidden}

* {
    font-family: "Belanosima", sans-serif;
    color: #1880d5;
}

text{
    fill: #6B5142FF;
}