@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

* {
    font-family: "Belanosima", sans-serif;
    /*color: #1880d5;*/
    color: #6B5142FF;
}

html {
    position: relative;
    height: 100vh;
}

body {
    overflow: hidden;   /* Prevents both vertical and horizontal scrolling */

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

text{
    fill: #6B5142FF;
}